.product-list::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

.product-item {
    width: 20%;
    min-width: 20%;
    /* padding-left: 8px; */
    height: 200px;
    transition:  all 0.5s ease;

}

.product-item div {
    height: 200px;
    background-color: yellow;
    transform: scale(0.8325) translateX(-21px) !important;
    transition:  all 0.5s ease;

}
.product-item.active + .product-item div,
.product-item.active + .product-item + .product-item div,
.product-item.active + .product-item + .product-item + .product-item div {
    /* background-color: red; */
    width: 230px;
    transition:  all 0.5s ease;


}
.product-item.active + .product-item div {
    transform: scale(1) translateX(-25px) !important

}

.product-item.active + .product-item + .product-item div {
    transform: scale(1) translateX(-7px) !important

}

.product-item.active + .product-item + .product-item + .product-item div {
    transform: scale(1) translateX(9px) !important
}

.product-item.active + .product-item + .product-item + .product-item + .product-item div {
    transform: scale(0.8325) translateX(16px) !important;
}


